<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class='container'>
    <h1 class='display-4 text-primary'>{{title}}</h1>
    <table class='table'>
        <tr>
            <td><h4>data</h4></td>
        </tr>
    {% for item in data %}
        <tr>
            <th>{{item.name}}</th>
            <th>{{item.email}}</th>
            <th>{% if item.gender == 0 %}male{% endif %}
                {% if item.gender == 1 %}female{% endif %}
            </th>
            <th><a href="{% url 'edit' item.id %}">Edit</a></th>
            <th><a href="{% url 'delete' item.id %}">Delete</a></th>
        </tr>
    {% endfor %}
    </table>
    <p><a href='create'><h5 class='text-primary'>create</h5></a></p>
</body>
</html>